
.navxp_MG_3DColumnsDD_KFCorp-Green {

    font-family: Arial;
    font-size: 12px;
    text-align: left;
    width: 100%;
    
}


.navxp_MG_3DColumnsDD_KFCorp-Green .startBk {
    width:  100%;
    height: 32px;
    background-image: url();
    background-repeat: no-repeat;
    background-position: left top;
}

.navxp_MG_3DColumnsDD_KFCorp-Green .itemsBk {
    height: 32px;
    background-image: url();
    background-repeat: repeat-x;
    overflow: visible;
    margin: 0 10px 0 10px;
}

.navxp_MG_3DColumnsDD_KFCorp-Green .endBk {
    width:  100%;
    height: 32px;
    background-image: url();
    background-repeat: no-repeat;
    background-position: right top;
}

.navxp_MG_3DColumnsDD_KFCorp-Green .sepBk {
    float: left;
    width:  1px;
    height: 32px;
    background-image: url();
    background-repeat: no-repeat;
    margin: 0 8px 0 8px;
}

.navxp_MG_3DColumnsDD_KFCorp-Green .lineBk {
    width: 100%;
    height: 7px;
    background-image: url(bk_line.png);
    background-repeat: repeat-x;
}


.navxp_MG_3DColumnsDD_KFCorp-Green a.itemL0:link, .navxp_MG_3DColumnsDD_KFCorp-Green a.itemL0:visited {
    display: block;
    float: left;
    
    font-style: normal; font-variant: normal; font-weight: normal; font-size: 14px; 
    font-family: Verdana; text-decoration: none; color: green; 
    margin-top: 12px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; 
    padding-top: 0px; padding-right: 2px; padding-bottom: 0px; padding-left: 8px; 
}

.navxp_MG_3DColumnsDD_KFCorp-Green a.itemL0:hover, .navxp_MG_3DColumnsDD_KFCorp-Green a.itemL0:active  {
    font-style: normal; font-variant: normal; font-weight: normal; 
    font-size: 14px; font-family: Verdana; text-decoration: underline; color: green; 
}

/*menu home*/
.navxp_MG_3DColumnsDD_KFCorp-Green a.itemL0Sel:link, .navxp_MG_3DColumnsDD_KFCorp-Green a.itemL0Sel:visited {
    display: block;
    float: left;

    font-style: normal; font-variant: normal; font-size: 14px; 
    font-family: Verdana; text-decoration: underline; color: green; 
    margin-top: 12px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; 
    padding-top: 0px; padding-right: 2px; padding-bottom: 0px; padding-left: 8px; 
}


.navxp_MG_3DColumnsDD_KFCorp-Green a.itemL1:link, .navxp_MG_3DColumnsDD_KFCorp-Green a.itemL1:visited {
    
    position: relative;
    white-space: pre;
    padding: 2px;
    
    font-style: normal; font-variant: normal; font-weight: bold; font-size: 14px; 
    font-family: Arial; text-decoration: none; color: #000000;
    border-width: 2px; border-style: solid; border-color: transparent;
        
    
}

.navxp_MG_3DColumnsDD_KFCorp-Green a.itemL1:hover, .navxp_MG_3DColumnsDD_KFCorp-Green a.itemL1:active {

    position: relative;
    
    font-style: normal; font-variant: normal; font-weight: n/s; font-size: 14px; 
    font-family: Arial; text-decoration: none; color: #000000;
    border-width: 2px; border-style: groove; border-color: #294121;
        
    
}

.navxp_MG_3DColumnsDD_KFCorp-Green .child_containerL1 a.selChild:link, .navxp_MG_3DColumnsDD_KFCorp-Green .child_containerL1 a.selChild:visited {

    padding: 2px 4px 2px 4px;
    
    font-style: normal; font-variant: normal; font-weight: bold; font-size: 14px; 
    font-family: Arial; text-decoration: none; color: #000000; 
    border-width: 2px; border-style: groove; border-color: #294121; 
    background-color: transparent;
}

.navxp_MG_3DColumnsDD_KFCorp-Green .child_containerL1 a.selChild:hover, .navxp_MG_3DColumnsDD_KFCorp-Green .child_containerL1 a.selChild:active {
    font-style: normal; font-variant: normal; font-weight: n/s; font-size: 14px; 
    font-family: Arial; text-decoration: none; color: #000000; 
}

.navxp_MG_3DColumnsDD_KFCorp-Green .itemL1_container {
    float: left;
    margin-top: 2px; margin-right: 8px; margin-bottom: 8px; margin-left: 6px; 
}

.navxp_MG_3DColumnsDD_KFCorp-Green  .child_containerL1 {
    position: absolute;
    margin-top: 32px;
    padding-bottom: 4px;
    display: none;

    background-color: #92C33C; 
    padding-top: 5px; padding-right: 0px; padding-bottom: 5px; padding-left: 0px;
}





.navxp_MG_3DColumnsDD_KFCorp-Green a.itemL2:link, .navxp_MG_3DColumnsDD_KFCorp-Green a.itemL2:visited {
    
    position: relative;
    white-space: pre;
    padding: 2px;
    
    font-style: normal; font-variant: normal; font-weight: normal; 
    font-size: 12px; font-family: Arial; text-decoration: none; color: #000000; ;
    
    
}

.navxp_MG_3DColumnsDD_KFCorp-Green a.itemL2:hover, .navxp_MG_3DColumnsDD_KFCorp-Green a.itemL2:active {

    position: relative;
    
    font-style: normal; font-variant: normal; font-weight: n/s; font-size: 12px; font-family: Arial; text-decoration: none; color: #dafab4; ;
    
    
}


.navxp_MG_3DColumnsDD_KFCorp-Green .child_containerL2 a.selChild:link, .navxp_MG_3DColumnsDD_KFCorp-Green .child_containerL2 a.selChild:visited {

    padding: 2px 4px 2px 1px;
    
    font-style: normal; font-variant: normal; font-weight: bold; font-size: 12px; font-family: 
    Arial; text-decoration: none; color: #000000; 
    border-width: 0px;
    background-color: transparent
}

.navxp_MG_3DColumnsDD_KFCorp-Green .child_containerL2 a.selChild:hover, .navxp_MG_3DColumnsDD_KFCorp-Green .child_containerL2 a.selChild:active {
    font-style: normal; font-variant: normal; font-weight: n/s; 
    font-size: 12px; font-family: Arial; text-decoration: none; color: #000000; 
}

.navxp_MG_3DColumnsDD_KFCorp-Green .itemL2_container {
    margin-top: 2px; margin-right: 8px; margin-bottom: 2px; margin-left: 4px; 
}

.navxp_MG_3DColumnsDD_KFCorp-Green  .child_containerL2 {

    padding-bottom: 4px;
    display: none;

    background-color: #92C33C; 
    padding-top: 5px; padding-right: 0px; padding-bottom: 5px; padding-left: 0px;
}

/*
    Add your own styles to this file, which is loaded only for theme KFCorp-Green.
    To avoid style collisions, prefix your styles with the CSS class of root NavXp element.
*/