a#menu{
    font-size:12px;
    color:#000000;
    font-family:Arial;
    text-decoration:none;
}

a:hover#menu{
    font-weight:bold;
}

body {
    font-family: Verdana, Arial, sans-serif;
    font-size:small;
}

.disableInput {
    background-color: #EBEBE4;
    border: solid 1px #A5ACB2;
}

.normalInput{
    background-color: #ffffff;
    border: solid 1px #A5ACB2;
}

.odd {
    background-color: #E5E0EC;
}
.even {
    background-color: #CCC0DA;
}
.headRow{
    background-color:#8064A2;
    color: white;
}